!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title= current_page.data.title || 'Form Factor'
    %script{src: '//use.typekit.net/kog5srr.js'}
    :javascript
      try{Typekit.load();}catch(e){}
    = stylesheet_link_tag 'application'

  %body
    = yield
    %footer.footer.row
      .well.cell
        %h1 Notes
        %p.g-b.g-b--m--1of2
          This doesn’t make any assumptions about how you make your forms, so
          all <code>&lt;label&gt;</code> text are merely placeholders, and all
          <code>&lt;fieldset&gt;</code> tags are omitted. It’s advisable to use
          both in order to make your forms bullet-proof.
      .well.cell.tac
        = link_to 'http://dangodesign.net', class: 'footer-logo', target: '_blank', title: 'A project by Drew Powers' do
          = partial 'assets/images/powers.svg'
        = link_to 'https://github.com/dangodev/FormFactor.io', class: 'footer-github', target: '_blank', title: 'Fork on GitHub' do
          = partial 'assets/images/github.svg'
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-8829137-1', 'auto');ga('send', 'pageview');
