%menu.tab-nav
  %li= link_to 'HTML', 'javascript:', data: {target: "#tab-#{hook}-html"}
  %li= link_to 'CSS', 'javascript:', data: {target: "#tab-#{hook}-css"}
  %li= link_to 'Animation', 'javascript:', data: {target: "#tab-#{hook}-animation"}
