---
title: FormFactor
---

%main.form
  %header.row
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %h1 FormFactor
          %p Efficient, semantic, screen-reader-friendly form elements.
        .g-b.g-b--m--1of2
          %table
            %tr
              %th Ingredients:
            %tr
              %td <code>&lt;input&gt;</code>, <code>&lt;label&gt;</code>

  %section.row
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %label
            Text
            %input.form-text{tabindex: 1, type: 'text', required: true}
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'text'}
          #tab-text-html.tab
            %strong.tab-label HTML
            :code
              <label>
                Text
                <input type="text" class="form-text">
              </label>
          #tab-text-css.tab
            %strong.tab-label CSS
            :code
              /* Text Base */

              [type=text] {
                background: none;
                border-radius: 6px;
                border: 4px solid #403132;
                display: block;
                font: normal 400 24px/1.4 sans-serif;
                max-width: 100%;
                padding: 6px 12px;
                width: 15em;
              }

              /* Text States */

              [type=text]:focus {
                background: rgba(black, 0.1);
                transform: scale(1.05);
              }
              [type=text]:hover {
                background: rgba(255, 255, 255, 0.4);
                cursor: pointer;
              }
          #tab-text-animation.tab
            %strong.tab-label Animation
            :code
              /* Text Animation */

              [type=text] {
                transition: background 250ms ease-out, transform 150ms 100ms cubic-bezier(0, 0.5, 0.5, 1);
              }
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %label
            Email
            %input.form-email{tabindex: 2, type: 'email', required: true}
        .g-b.g-b--m--1of2
          %strong HTML
          :code
            <label>
              Email
              <input type="email">
            </label>
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %label
            Number
            %input.form-number{tabindex: 3, type: 'number', required: true}
        .g-b.g-b--m--1of2
          %strong HTML
          :code
            <label>
              Email
              <input type="number">
            </label>
  %section.row
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %label
            Date
            %input.form-date{tabindex: 4, type: 'date', required: true}
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'date'}
          #tab-date-html.tab
            %strong.tab-label HTML
            :code
              <label>
                Date
                <input type="date">
              </label>
          #tab-date-css.tab
            %strong.tab-label CSS

    .well.cell
      .g
        .g-b.g-b--m--1of2
          %label
            Color
            %input.form-color{tabindex: 5, type: 'color', required: true}
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'color'}
          #tab-color-html.tab
            %strong.tab-label HTML
            :code
              <label>
                Color
                <input type="color">
              </label>
          #tab-color-css.tab
            %strong.tab-label CSS
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %label
            Range
            %input.form-range{tabindex: 6, type: 'range', required: true}
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'range'}
          #tab-range-html.tab
            %strong.tab-label HTML
            :code
              <label>
                Color
                <input type="range">
              </label>
          #tab-range-css.tab
            %strong.tab-label CSS

  %section.row
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %label
            Select
          %select.form-select{tabindex: 5}
            %optgroup{label: 'Group A'}
              %option Option 1
              %option Option 2
            %optgroup{label: 'Group B'}
              %option Option 3
        .g-b.g-b--m--1of2
          %strong HTML
          :code
            <label>Select</label>
            <select>
              <optgroup label="Group A">
                <option>Option 1</option>
                <option>Option 2</option>
              </optgroup>
              <optgroup label="Group B">
                <option>Option 3</option>
              </optgroup>
            </select>
  %section.row
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %input#check-0.form-checkbox{tabindex: 6, type: 'checkbox', name: 'checkbox', required: true}
          %label{for: 'check-0'} Checkbox 1
          %input#check-1.form-checkbox{tabindex: 6, type: 'checkbox', name: 'checkbox', required: true}
          %label{for: 'check-1'} Checkbox 2
          %input#check-2.form-checkbox{tabindex: 6, type: 'checkbox', name: 'checkbox', required: true}
          %label{for: 'check-2'} Checkbox 3
          %input#check-3.form-checkbox{tabindex: 6, type: 'checkbox', name: 'checkbox', required: true}
          %label{for: 'check-3'} Checkbox 4
        .g-b.g-b--m--1of2
          %strong HTML
          :code
            <input type="checkbox" id="check" class="form-checkbox">
            <label for="check">Checkbox Label</label>
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %input#radio-0.form-radio{tabindex: 7, type: 'radio', name: 'radio', required: true}
          %label{for: 'radio-0'} Radio 1
          %input#radio-1.form-radio{tabindex: 7, type: 'radio', name: 'radio', required: true}
          %label{for: 'radio-1'} Radio 2
          %input#radio-2.form-radio{tabindex: 7, type: 'radio', name: 'radio', required: true}
          %label{for: 'radio-2'} Radio 3
          %input#radio-3.form-radio{tabindex: 7, type: 'radio', name: 'radio', required: true}
          %label{for: 'radio-3'} Radio 4
        .g-b.g-b--m--1of2
          %strong HTML
          :code
            <input type="checkbox" id="check" class="form-checkbox">
            <label for="check">Checkbox Label</label>
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %input#switch-0.form-checkbox-switch{tabindex: 7, type: 'checkbox', required: true}
          %label{for: 'switch-0'} Switch Below
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'switch-below'}
          #tab-switch-below-html.tab
            %strong.tab-label HTML
            :code
              <input class="form-switch" id="switch" type="text">
              <label for="switch">Switch Below</label>
          #tab-switch-below-css.tab
            %strong.tab-label CSS
            :code
              /* Switch Base */

              .form-switch {
                display: block;
                height: 0;
                position: absolute;
                right: 100%;
              }

              .form-switch + label {
                display: block;
                margin-bottom: 2em;
                position: relative;
                visibility: visible;
              }

              .form-switch + label::before {
                background: rgba(0, 0, 0, 0.2);
                border-radius: 2em;
                border: 4px solid #403132;
                content: "Off";
                display: block;
                font-size: 50%;
                height: 2em;
                left: 0;
                line-height: 2;
                padding: 0 1em 0 3em;
                position: absolute;
                text-align: center;
                top: 100%;
                width: 2em;
                z-index: 10;
              }

              .form-switch + label::after {
                background: #e7f4b4;
                border-radius: 1em;
                border: 4px solid #403132;
                content: "";
                display: block;
                height: 1em;
                left: 0;
                position: absolute;
                top: 100%;
                width: 1em;
                z-index: 11;
              }

              /* Switch States */

              .form-switch + label:hover {
                cursor: pointer
              }

              .form-switch:checked + label::before {
                background: white;
                content: "On";
                padding: 0 3em 0 1em;
              }

              .form-switch:checked + label::after {
                transform: translateX(2em);
              }

              .form-switch:focus + label::after,
              .form-switch + label:hover::after {
                background-color: #f8fce8;
              }
          #tab-switch-below-animation.tab
            %strong.tab-label Animation
            :code
              /* Switch Animation */

              .form-switch + label::before {
                transition: background 150ms ease-out, padding 150ms ease-out;
              }

              .form-switch + label::after {
                transition: background 150ms linear, transform 150ms cubic-bezier(0.5, 0, 0.5, 1);
              }
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %input#switch-1.form-checkbox-switch--beside{tabindex: 8, type: 'checkbox', required: true}
          %label{for: 'switch-1'} Switch Beside
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'switch-beside'}
          #tab-switch-beside-html.tab
            %strong.tab-label HTML
            :code
              <input class="form-switch" id="switch" type="text">
              <label for="switch">Switch Beside</label>
          #tab-switch-beside-css.tab
            %strong.tab-label CSS
            :code
              /* Switch Base */

              .form-switch {
                display: block;
                height: 0;
                position: absolute;
                right: 100%;
              }

              .form-switch + label {
                display: block;
                margin-left: 3.33em;
                padding-left: 0.625em;
                position: relative;
                visibility: visible;
              }

              .form-switch + label::before {
                background: rgba(0, 0, 0, 0.2);
                border-radius: 2em;
                border: 4px solid #403132;
                content: "Off";
                display: block;
                font-size: 50%;
                height: 2em;
                line-height: 2;
                padding: 0 1em 0 3em;
                position: absolute;
                right: 100%;
                text-align: center;
                top: 0;
                width: 2em;
                z-index: 10;
              }

              .form-switch + label::after {
                background: #e7f4b4;
                border-radius: 1em;
                border: 4px solid #403132;
                content: "";
                display: block;
                height: 1em;
                position: absolute;
                right: 100%;
                top: 0;
                transform: translateX(-2em);
                width: 1em;
                z-index: 11;
              }

              /* Switch States */

              .form-switch + label:hover {
                cursor: pointer
              }

              .form-switch:checked + label::before {
                background: white;
                content: "On";
                padding: 0 3em 0 1em;
              }

              .form-switch:checked + label::after {
                transform: translateX(0);
              }

              .form-switch:focus + label::after,
              .form-switch + label:hover::after {
                background-color: #f8fce8;
              }
          #tab-switch-beside-animation.tab
            %strong.tab-label Animation
            :code
              /* Switch Animation */

              .form-switch + label::before {
                transition: background 150ms ease-out, padding 150ms ease-out;
              }

              .form-switch + label::after {
                transition: background 150ms linear, transform 150ms cubic-bezier(0.5, 0, 0.5, 1);
              }
  %section.row
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %input#submit.form-submit{tabindex: 9, type: 'submit'}
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'submit'}
          #tab-submit-html.tab
            %strong.tab-label HTML
            :code
              <input type="submit">
          #tab-submit-html.tab
            %strong.tab-label CSS
            :code
              input[type=submit] {
                background-color: ;
              }
