---
title: FormFactor
---

%main.form
  %header.row
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %h1 FormFactor
          %p Efficient, semantic, screen-reader-friendly form elements.
        .g-b.g-b--m--1of2
          %table
            %tr
              %th Ingredients:
            %tr
              %td <code>&lt;input&gt;</code>, <code>&lt;label&gt;</code>

  %section.row
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %label
            Text
            %input.form-text{tabindex: 1, type: 'text'}
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'text'}
          #tab-text-html.tab
            %strong.tab-label HTML
            :code
              <label>
                Text
                <input type="text">
              </label>
          #tab-text-css.tab
            %strong.tab-label CSS
            :code
              /* Text Base */

              [type=text] {
                background: none;
                border-radius: 6px;
                border: 4px solid #403132;
                cursor: pointer;
                display: block;
                font: normal 400 24px/1.4 sans-serif;
                max-width: 100%;
                padding: 6px 12px;
                width: 15em;
              }

              /* Text States */

              [type=text]:focus {
                background: rgba(black, 0.1);
                transform: scale(1.05);
              }
              [type=text]:focus:hover {
                cursor: text;
              }
              [type=text]:hover {
                background: rgba(255, 255, 255, 0.4);
              }
          #tab-text-animation.tab
            %strong.tab-label Animation
            :code
              /* Text Animation */

              [type=text] {
                transition: background 250ms ease-out, transform 150ms 100ms cubic-bezier(0, 0.5, 0.5, 1);
              }
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %label
            Email
            %input.form-email{tabindex: 2, type: 'email'}
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'email'}
          #tab-email-html.tab
            %strong.tab-label HTML
            :code
              <label>
                <input type="email">
              </label>
          #tab-email-css.tab
            %strong.tab-label CSS
            :code
              /* Email Base */

              [type=email] {
                background: none;
                border-radius: 6px;
                border: 4px solid #403132;
                cursor: pointer;
                display: block;
                font: normal 400 24px/1.4 sans-serif;
                max-width: 100%;
                padding: 6px 12px;
                width: 15em;
              }

              /* Email States */

              [type=email]:focus {
                background: rgba(black, 0.1);
                transform: scale(1.05);
              }
              [type=email]:focus:hover {
                cursor: text;
              }
              [type=email]:hover {
                background: rgba(255, 255, 255, 0.4);
              }
          #tab-email-animation.tab
            %strong.tab-label Animation
            :code
              /* Email Animation */

              [type=email] {
                transition: background 250ms ease-out, transform 150ms 100ms cubic-bezier(0, 0.5, 0.5, 1);
              }
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %label
            Number
            %input.form-number{tabindex: 3, type: 'number'}
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'number'}
          #tab-number-html.tab
            %strong.tab-label HTML
            :code
              <label>
                <input type="number">
              </label>
          #tab-number-css.tab
            %strong.tab-label CSS
            :code
              /* Number Base */

              [type=number] {
                background: none;
                border-radius: 6px;
                border: 4px solid #403132;
                cursor: pointer;
                display: block;
                font: normal 400 24px/1.4 sans-serif;
                max-width: 100%;
                padding: 6px 12px;
                width: 7em;
              }

              /* Number States */

              [type=number]:focus {
                background: rgba(black, 0.1);
                transform: scale(1.05);
              }
              [type=number]:focus:hover {
                cursor: text;
              }
              [type=number]:hover {
                background: rgba(255, 255, 255, 0.4);
              }
          #tab-number-animation.tab
            %strong.tab-label Animation
            :code
              /* Number Animation */

              [type=number] {
                transition: background 250ms ease-out, transform 150ms 100ms cubic-bezier(0, 0.5, 0.5, 1);
              }
  %section.row
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %input#check-0.form-checkbox{tabindex: 8, type: 'checkbox', name: 'checkbox', value: 'checked'}
          %label{for: 'check-0'} Checkbox 1
          %input#check-1.form-checkbox{tabindex: 8, type: 'checkbox', name: 'checkbox', value: 'checked'}
          %label{for: 'check-1'} Checkbox 2
          %input#check-2.form-checkbox{tabindex: 8, type: 'checkbox', name: 'checkbox', value: 'checked'}
          %label{for: 'check-2'} Checkbox 3
          %input#check-3.form-checkbox{tabindex: 8, type: 'checkbox', name: 'checkbox', value: 'checked'}
          %label{for: 'check-3'} Checkbox 4
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'checkbox'}
          #tab-checkbox-html.tab
            %strong.tab-label HTML
            :code
              <input type="checkbox" id="check" class="form-checkbox">
              <label for="check">Checkbox Label</label>
          #tab-checkbox-css.tab
            %strong.tab-label CSS
            :code
              /* Checkbox Base */

              .form-checkbox {
                display: block;
                height: 0;
                position: absolute;
                right: 100%;
              }

              .form-checkbox + label {
                cursor: pointer;
                display: block;
                position: relative;
              }

              .form-checkbox + label::before {
                border-radius: 3px;
                box-shadow: 0 0 0 3px #403132;
                content: "";
                display: inline-block;
                height: 0.75em;
                margin-right: 0.5em;
                width: 0.75em;
              }

              .form-checkbox + label::after {
                background-color: #403132;
                border-radius: 2px;
                box-shadow: 0;
                color: #e7f4b4;
                content: "";
                display: block;
                height: calc(0.75em - 4px);
                left: 2px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                top: 0.3125em;
                transform: scale(0.4);
                width: calc(0.75em - 4px);
                z-index: 2;
              }

              /* Checkbox States */

              .form-checkbox + label:hover::before {
                background: rgba(255, 255, 255, 0.6);
              }

              .form-checkbox:active + label::before {
                background: rgba(0, 0, 0, 0.2);
                transform: scale(1);
              }

              .form-checkbox:focus + label::before {
                background: rgba(255, 255, 255, 0.6);
                transform: scale(1.2);
              }

              .form-checkbox:checked + label::after {
                transform: scale(1);
                opacity: 1;
              }
          #tab-checkbox-animation.tab
            %strong.tab-label Animation
            :code
              .form-checkbox + label::before {
                transition: background-color 250ms ease-out, transform 100ms cubic-bezier(0, 0.5, 0.5, 1);
              }

              .form-checkbox + label::after {
                transition: opacity 100ms linear, transform 100ms ease-out;
              }
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %fieldset{role: 'radiogroup'}
            %input#radio-0.form-radio{name: 'radio', tabindex: 9, type: 'radio', value: 'selected'}
            %label{for: 'radio-0'} Radio 1
            %input#radio-1.form-radio{name: 'radio', tabindex: 9, type: 'radio', value: 'selected'}
            %label{for: 'radio-1'} Radio 2
            %input#radio-2.form-radio{name: 'radio', tabindex: 9, type: 'radio', value: 'selected'}
            %label{for: 'radio-2'} Radio 3
            %input#radio-3.form-radio{name: 'radio', tabindex: 9, type: 'radio', value: 'selected'}
            %label{for: 'radio-3'} Radio 4
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'radio'}
          #tab-radio-html.tab
            %strong.tab-label HTML
            :code
              <fieldset role="radiogroup">
                <input class="form-checkbox" id="radio" name="radio" type="radio">
                <label for="radio">Radio Label</label>
              </fieldset>
          #tab-radio-css.tab
            %strong.tab-label CSS
            :code
              /* Radio Base */

              .form-radio {
                display: block;
                height: 0;
                position: absolute;
                right: 100%;
              }

              .form-radio + label {
                cursor: pointer;
                display: block;
                position: relative;
              }

              .form-radio + label::before {
                border-radius: 50%;
                box-shadow: 0 0 0 3px rgba(64, 49, 50, 0.2);
                content: "";
                display: inline-block;
                height: 0.75em;
                margin-right: 0.5em;
                width: 0.75em;
              }

              .form-radio + label::after {
                border-radius: 50%;
                box-shadow: inset 0 0 0 0 #403132, 0 0 0 2px #403132;
                content: "";
                display: inline-block;
                height: 0.75em;
                left: 0;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                top: 0.25em;
                width: 0.75em;
                z-index: 2;
              }

              /* Radio States */

              .form-radio:checked + label::before {
                box-shadow: 0 0 0 3px #403132;
              }

              .form-radio:checked + label::after {
                box-shadow: inset 0 0 0 5px #403132, 0 0 0 2px #403132;
                opacity: 1;
              }

              .form-radio:focus + label::before {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
              }

              .form-radio:hover + label::before {
                background-color: #f8fce8;
                box-shadow: 0 0 0 3px #403132;
              }

              .form-radio:active + label::before{
                background-color: rgba(0, 0, 0, 0.2);
              }
          #tab-radio-animation.tab
            %strong.tab-label Animation
            :code
              /* Radio Animation */

              .form-radio + label::before {
                transition: background-color 100ms ease-out, box-shadow 150ms ease-out, -webkit-transform 100ms cubic-bezier(0, 0.5, 0.5, 1);
                transition: background-color 100ms ease-out, box-shadow 150ms ease-out, transform 100ms cubic-bezier(0, 0.5, 0.5, 1);
              }
              .form-radio + label::after {
                transition: box-shadow 150ms ease-out, opacity 100ms linear;
              }
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %input#switch-0.form-checkbox-switch{tabindex: 10, type: 'checkbox', value: 'on'}
          %label{for: 'switch-0'} Switch Below
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'switch-below'}
          #tab-switch-below-html.tab
            %strong.tab-label HTML
            :code
              <input class="form-switch" id="switch" type="text" value="on">
              <label for="switch">Switch Below</label>
          #tab-switch-below-css.tab
            %strong.tab-label CSS
            :code
              /* Switch Base */

              .form-switch {
                display: block;
                height: 0;
                position: absolute;
                right: 100%;
              }

              .form-switch + label {
                display: block;
                margin-bottom: 2em;
                position: relative;
                visibility: visible;
              }

              .form-switch + label::before {
                background: rgba(0, 0, 0, 0.2);
                border-radius: 2em;
                border: 4px solid #403132;
                content: "Off";
                display: block;
                font-size: 50%;
                height: 2em;
                left: 0;
                line-height: 2;
                padding: 0 1em 0 3em;
                position: absolute;
                text-align: center;
                top: 100%;
                width: 2em;
                z-index: 10;
              }

              .form-switch + label::after {
                background: #e7f4b4;
                border-radius: 1em;
                border: 4px solid #403132;
                content: "";
                display: block;
                height: 1em;
                left: 0;
                position: absolute;
                top: 100%;
                width: 1em;
                z-index: 11;
              }

              /* Switch States */

              .form-switch + label:hover {
                cursor: pointer
              }

              .form-switch:checked + label::before {
                background: white;
                content: "On";
                padding: 0 3em 0 1em;
              }

              .form-switch:checked + label::after {
                transform: translateX(2em);
              }

              .form-switch:focus + label::after,
              .form-switch + label:hover::after {
                background-color: #f8fce8;
              }
          #tab-switch-below-animation.tab
            %strong.tab-label Animation
            :code
              /* Switch Animation */

              .form-switch + label::before {
                transition: background 150ms ease-out, padding 100ms ease-out;
              }

              .form-switch + label::after {
                transition: background 150ms linear, transform 150ms cubic-bezier(1, 0, 0, 1);
              }
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %input#switch-1.form-checkbox-switch--beside{tabindex: 11, type: 'checkbox', value: 'on'}
          %label{for: 'switch-1'} Switch Beside
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'switch-beside'}
          #tab-switch-beside-html.tab
            %strong.tab-label HTML
            :code
              <input class="form-switch" id="switch" name="switch" type="text" value="on">
              <label for="switch">Switch Beside</label>
          #tab-switch-beside-css.tab
            %strong.tab-label CSS
            :code
              /* Switch Base */

              .form-switch {
                display: block;
                height: 0;
                position: absolute;
                right: 100%;
              }

              .form-switch + label {
                display: block;
                margin-left: 3.33em;
                padding-left: 0.625em;
                position: relative;
                visibility: visible;
              }

              .form-switch + label::before {
                background: rgba(0, 0, 0, 0.2);
                border-radius: 2em;
                border: 4px solid #403132;
                content: "Off";
                display: block;
                font-size: 50%;
                height: 2em;
                line-height: 2;
                padding: 0 1em 0 3em;
                position: absolute;
                right: 100%;
                text-align: center;
                top: 0;
                width: 2em;
                z-index: 10;
              }

              .form-switch + label::after {
                background: #e7f4b4;
                border-radius: 1em;
                border: 4px solid #403132;
                content: "";
                display: block;
                height: 1em;
                position: absolute;
                right: 100%;
                top: 0;
                transform: translateX(-2em);
                width: 1em;
                z-index: 11;
              }

              /* Switch States */

              .form-switch + label:hover {
                cursor: pointer
              }

              .form-switch:checked + label::before {
                background: white;
                content: "On";
                padding: 0 3em 0 1em;
              }

              .form-switch:checked + label::after {
                transform: translateX(0);
              }

              .form-switch:focus + label::after,
              .form-switch + label:hover::after {
                background-color: #f8fce8;
              }
          #tab-switch-beside-animation.tab
            %strong.tab-label Animation
            :code
              /* Switch Animation */

              .form-switch + label::before {
                transition: background 150ms ease-out, padding 100ms ease-out;
              }

              .form-switch + label::after {
                transition: background 150ms linear, transform 150ms cubic-bezier(1, 0, 0, 1);
              }
  %section.row
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %label
            Select
            %select.form-select{tabindex: 7}
              %optgroup{label: 'Group A'}
                %option Option 1
                %option Option 2
              %optgroup{label: 'Group B'}
                %option Option 3
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'select'}
          #tab-select-html.tab
            %strong.tab-label HTML
            :code
              <label>
                Select
                <select>
                  <optgroup label="Group A">
                    <option>Option 1</option>
                    <option>Option 2</option>
                  </optgroup>
                  <optgroup label="Group B">
                    <option>Option 3</option>
                  </optgroup>
                </select>
              </label>
          #tab-select-css.tab
            %strong.tab-label CSS
            :code
              /* Select Base */

              select {
                -webkit-appearance: none;
                background-color: transparent;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMjMxRjIwIiBkPSJNNTEyIDY4LjZMMjU2IDUxMiAwIDY4LjZ6Ii8+PC9zdmc+);
                background-position: 90% 50%;
                background-repeat: no-repeat;
                background-size: auto 25%;
                border-radius: 12px;
                border: 4px solid #403132;
                display: block;
                padding: 6px 48px 6px 12px;
              }

              /* Select Browser Hacks */
              @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                select::-ms-expand {
                  display: none;
                }
                select:focus::-ms-value {
                  background: transparent;
                  color: #222;
                }
              }
              @-moz-document url-prefix() {
                select {
                  background-image: none;
                }
               }
              select::-moz-focusring {
                color: transparent;
                text-shadow: 0 0 0 #000;
              }

          #tab-select-animation.tab
            %strong.tab-label Animation
            :code
              select {
                transition: background-color 250ms ease-out, -webkit-transform 150ms 100ms cubic-bezier(0, 0.5, 0.5, 1);
                transition: background-color 250ms ease-out, transform 150ms 100ms cubic-bezier(0, 0.5, 0.5, 1);
              }
              select:hover {
                background-color: rgba(255, 255, 255, 0.4);
                cursor: pointer;
              }
              select:focus, .form-select:hover {
                background-color: rgba(255, 255, 255, 0.4);
                outline: none;
              }

  %section.row
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %label
            Date (Chrome / Opera)
            %input.form-date{tabindex: 4, type: 'date'}
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'date'}
          #tab-date-html.tab
            %strong.tab-label HTML
            :code
              <label>
                Date
                <input type="date">
              </label>
          #tab-date-css.tab
            %strong.tab-label CSS
            :code
              /* Date Base */

              [type=date] {
                background: none;
                border-radius: 6px;
                border: 4px solid #403132;
                cursor: pointer;
                display: block;
                font: normal 400 24px/1.4 sans-serif;
                max-width: 100%;
                padding: 6px 12px;
                width: 15em;
              }

              /* Date States */

              [type=date]:focus {
                background: rgba(black, 0.1);
                transform: scale(1.05);
              }
              [type=date]:focus:hover {
                cursor: text;
              }
              [type=date]:hover {
                background: rgba(255, 255, 255, 0.4);
              }
          #tab-date-animation.tab
            %strong.tab-label Animation
            :code
              /* Date Animation */

              [type=date] {
                transition: background 250ms ease-out, transform 150ms 100ms cubic-bezier(0, 0.5, 0.5, 1);
              }
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %label
            Color
            %input.form-color{tabindex: 5, type: 'color'}
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'color'}
          #tab-color-html.tab
            %strong.tab-label HTML
            :code
              <label>
                Color
                <input type="color">
              </label>
          #tab-color-css.tab
            %strong.tab-label CSS
            :code
              /* Color Base */

              [type=color] {
                background-color: transparent;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…02NC4xIDExMi4yLTExMi4yYzI2LjUtMjYuNSAyNi41LTY5LjYgMC05Ni4xeiIvPjwvc3ZnPg==);
                background-position: 90% 50%;
                background-repeat: no-repeat;
                background-size: auto 50%;
                border-radius: 6px;
                border: 4px solid #403132;
                cursor: pointer;
                display: block;
                height: 48px;
                padding: 0 48px 0 0;
                width: 5em;
              }
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %label
            Range
            %input.form-range{tabindex: 6, type: 'range'}
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'range'}
          #tab-range-html.tab
            %strong.tab-label HTML
            :code
              <label>
                Range
                <input type="range">
              </label>
          #tab-range-css.tab
            %strong.tab-label CSS
            :code
              /* Range Base */

              [type=range] {
                background: none;
                cursor: pointer;
                display: block;
                height: 48px;
                width: 10em;
              }

              /* Webkit */

              [type=range] {
                -webkit-appearance: none;
              }

              [type=range]::-webkit-slider-runnable-track {
                background: #403132;
                border-radius: 4px;
                border: none;
                height: 4px;
              }

              [type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                background: #e7f4b4;
                border-radius: 50%;
                border: 4px solid #403132;
                height: 24px;
                width: 24px;
                /* Webkit alignment hack */
                margin-top: 2px;
                transform: translateY(-50%);
              }

              [type=range]:focus::-webkit-slider-thumb,
              [type=range]:hover::-webkit-slider-thumb {
                background: #f8fce8;
              }

              /* Firefox */

              [type=range]::-moz-range-track {
                background: #403132;
                border-radius: 4px;
                border: none;
                height: 4px;
              }

              [type=range]::-moz-range-thumb {
                background: #e7f4b4;
                border-radius: 50%;
                border: 4px solid #403132;
                height: #403132;
                width: #403132;
              }

              [type=range]:hover::-moz-range-thumb,
              [type=range]:focus::-moz-range-thumb {
                background: #f8fce8;
              }

              /* IE */

              [type=range]::-ms-track {
                background: rgba(64, 49, 50, 0.7);
                border-radius: 4px;
                border: none;
                height: 4px;
              }

              [type=range]::-ms-fill-lower {
                background: #403132;
                border-radius: 4px;
              }

              [type=range]::-ms-fill-upper {
                background: none;
              }

              [type=range]::-ms-thumb {
                background: #e7f4b4;
                border-radius: 50%;
                border: 4px solid #403132;
                height: 24px;
                width: 24px;
              }

              [type=range]:hover::-ms-thumb,
              [type=range]:focus::-ms-thumb {
                background: #f8fce8;
              }
          #tab-range-animation.tab
            %strong.tab-label Animation
            :code
              /* Range Animation */

              [type=range]::-webkit-slider-thumb {
                transition: background-color 250ms ease-out;
              }

              [type=range]::-moz-range-thumb {
                transition: background-color 250ms ease-out;
              }

              [type=range]::-ms-thumb {
                transition: background-color 250ms ease-out;
              }
  %section.row
    .well.cell
      .g
        .g-b.g-b--m--1of2
          %input#submit.form-submit{tabindex: 12, type: 'submit'}
        .g-b.g-b--m--1of2.has-tab
          = partial 'tab', locals: {hook: 'submit'}
          #tab-submit-html.tab
            %strong.tab-label HTML
            :code
              <input type="submit">
          #tab-submit-css.tab
            %strong.tab-label CSS
            :code
              /* Submit Base */

              [type=submit] {
                background: #403132;
                border-radius: 6px;
                border: 4px solid #403132;
                color: #e7f4b4;
                padding: 12px 24px;
              }
          #tab-submit-animation.tab
            %strong.tab-label Animation
            :code
              /* Submit Animation */

              [type=submit] {
                  transition: background 250ms ease-out;
              }
              [type=submit]:hover {
                background: rgba(64, 49, 50, 0.8);
              }
              [type=submit]:active {
                box-shadow: none;
                -webkit-transform: translateY(2px);
                transform: translateY(2px);
              }
